{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "rules": {
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "import/no-cycle":0
  },
  "plugins": ["jest"]
}